div.option-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0);
    border-radius: 6px;
    transition: margin 0.2s;
    overflow: hidden;

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 3.5rem;
        padding: 0.6rem 1rem;
        color: rgba(0, 0, 0, 0.7);
        font-size: calc(9px + 0.4vw);
        font-weight: 700;
    }
    
    &.active {
        background-color: rgba($color: #CCCCCC, $alpha: 0.5);
    }
    
    &.disabled {
        opacity: 80% !important;
        cursor: default;
        background-color: rgba(145, 158, 171, 0.24);
        border: none;
        box-shadow: none;
        
        .option-cards__description {
            color: rgba(145, 158, 171, 0.8);
        }
    }
    
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    &.disabled:hover {
        box-shadow: none;
    }
}