.map {
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: yellow;
  }

  &__container {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: auto;
    width: 48vw;
    flex-wrap: wrap;

    &-row {
      display: flex;
      width: 100%;
      height: auto;
    }
  }

  &__box {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid black;
    display: flex;
    width: 4vw;
    height: 4vw;

    button {
      border: none;
      width: 100%;
      height: 100%;
      background-color: transparent;

      h2 {
        font-size: calc(5px + 1.3vw);
        margin: auto;
        color: black;
      }
    }

    button:hover {
      cursor: pointer;
    }

    // &-wall {
    //   background-color: black;
    // }

    // &-open {
    //   background-color: var(--mui-palette-grey-50);
    // }

    &-occupied {
      // background-color: rgb(181, 190, 198);

      button:hover {
        cursor: default;
      }
    }

    &-clear {
      background-color: none;
    }
  }
}
